/* Tam Design Studios Site CSS v1.1 */

/* Global Variables */
:root {
  --white: #fff;
}

/* Pointer events */

.featured__item:nth-child(odd) .featured__h2 {
  transform: rotate(-20deg);
}

.featured__item:nth-child(odd) .featured__img1 {
  grid-column-start: 2;
  grid-column-end: 2;
  transform: rotate(-20deg);
}

.--no-display-js {
  pointer-events: none;
}
